.Home {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;

  .sub-title {
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .goback {
      cursor: pointer;
    }
  }
}
