.Home {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  .infinite-scroll-component {
    overflow: hidden !important;
  }
  .sub-title {
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .home-con {
  }
}
